<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/dealerHome.css">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
               <div action="/home" class="bookingdiv">
                    <button id="bookingbutton" href="/home" ><img id="bookingimg" src="/images/booking.png" alt="homeicon">Booking</button>
               </div>

                <div class="accountdiv" >
                    <button id="accountbutton" href="/dealer"> <img id="accountimg" src="/images/dealercolour.png" alt="dealericon">Dealer</button>
                </div>

                <div class="profilediv">
                    <button id="profilebutton"><img id="profileimg" src="/images/profile.png" alt="profileicon">Profile</button>
                </div>
                                                                                      
        </div>
            
        <div id="content">
            <nav id="nav">
                <form action="/plan">
                    <button id="plan{{#if plan}}active{{/if}}" href="/plan">Add Plan</button>
                </form>
                <form action="/busdetails">
                    <button id="busdetails{{#if busdetails}}active{{/if}}" href="/busdetails">Add Bus</button>
                </form>
                <form action="/busdetail">
                    <button id="profile{{#if dealerprofile}}active{{/if}}" href="/dealerprofile">Profile</button>
                </form>
            </nav>

            {{#if plan}}
                <div id="plan">
                    <form action="/plandetailsupload" method="post" enctype="multipart/form-data">
                        <div id="plantitle">
                        <p class="plantextcontent">City :</p>
                        <input class="planinputcontent" type="text" placeholder="Enter the City" name="city" required>
                        <p class="textcontent1">Bus Name : </p>
                        <input class="textinput" type="text" placeholder="Enter the Bus Name" name="busname" required>
                    </div>
                    <div id="imagediv">
                            <label  for="inputTag">
                                Select Plan <br/>
                                <i class="fa fa-2x fa-file"></i>
                                <input id="inputTag" type="file" name="planfile" required/>
                                <br/>
                            </label>
                        </div>
                        <button id="uploadbutton" href="/busdetailsupload">Upload</button>
                    </form>
                    {{#if disclimer}}
                        <p id="status">{{res}}</p>
                    {{/if}}
                    {{#if disclimerfail}}
                        <p id="status1">{{res}}</p>
                    {{/if}}
                    <p class="disclimer">NOTE : *Ensure that the Data is Correct*</p>
                </div>         
            {{/if}}

            {{#if busdetails}}
                <div id="busdetails">
                    <form  action="/busdetailsupload" method="post" enctype="multipart/form-data">
                        <div id="busname">
                            <p class="textcontent">Bus Name : </p>
                            <input class="textinput" type="text" placeholder="Enter the Bus Name" name="busname" required>
                            <p class="textcontent">Seat Count : </p>
                            <input class="textinput" type="text" placeholder="Enter the Seat Capacity" name="seatcount" required>
                        </div>
                        <div id="imagediv">
                            <label  for="inputTag">
                                Select Images<br/>
                                <i class="fa fa-2x fa-camera"></i>
                                <input id="inputTag" type="file" name="busimage" multiple required>
                                <br/>
                            </label>
                        </div>
                        <button id="uploadbutton" href="/busdetailsupload">Upload</button>
                    </form>
                    {{#if disclimer}}
                        <p id="status">{{res}}</p>
                    {{/if}}
                    {{#if disclimerfail}}
                        <p id="status1">{{res}}</p>
                    {{/if}}
                    <p class="disclimer">NOTE : *Ensure that the Data is Correct*</p>
                </div>           
            {{/if}}

            {{#if dealerprofile}}
                <div id="profilecontent">
                    <div id="contentdivision1">
                        <div id="profile">
                            <img id="profilepic" src="data:{{type.ContentType}};base64,{{value}}" alt="Profile Image" />
                            <h4 id="username">{{dealername}}</h4>
                        </div><br>
                        
                        <form id="photoinput" action="/dealerprofile" method="post" enctype="multipart/form-data">
                            <div id="photodiv">
                                <label for="inputTag">
                                    CHANGE IMAGE<br>
                                    <i class="fa fa-camera"></i>
                                    <input id="inputimage" type="file" name="profileimage" required>
                                    <span id="imagename"></span>
                                </label>
                            </div>
                            <button id="savebutton" type="submit">Save</button>
                        </form>
                        <form action="/busdetail">
                            <input type="hidden" name="busid" value={{email}}>
                            <button class="contentbutton1{{#if busdetail}}active{{/if}}"><i class="fa fa-bus" aria-hidden="true"></i> BUSES <div id="activestatus1{{#if buscontent}}active{{/if}}"></div></button>
                        </form>
                        <form action="/plandetail">
                            <input type="hidden" name="planid" value={{email}}>
                            <button class="contentbutton2{{#if plandetail}}active{{/if}}"><i class="fa fa fa-file"></i> PLAN<div id="activestatus2{{#if plancontent}}active{{/if}}"></div></button>
                        </form>
                          <form action="/dealer" class="exitdiv"> <br>
                            <button id="exitbutton"><i class="fas fa-sign-out-alt fa-2x"></i> Log out</button>
                        </form>    
                    </div>
                    
                        {{#if busdetail}}
                            <div class="contentdivision2">    
                                {{#each busdetailArray}}
                                    <div id="search-div">
                                        <form action="/edit-businfo" method="post">
                                            <div id="searchresultdiv">
                                                <input type="hidden" name="busname" value="{{this.[0]}}">
                                                <p style="font-weight: 500; font-size:18px;" id="bus-name">{{this.[0]}}</p>
                                                <p style="font-weight: 500; font-size:18px;" id="seats">{{this.[1]}}</p>
                                                <button style="background-color: transparent;border-style:none;" type="submit"><i id="bus-name-edit" class="fas fa-edit fa-2x"></i></button>
                                            </div>
                                        </form>
                                        <form action="/bus-img-details" method="post">
                                            <input type="hidden" value="{{this.[0]}}" name="busname" >
                                            <button style="background-color: transparent;border-style:none;" type="submit"><img  id="buspic" src="data:{{this.[2]}}" alt="Bus Image"></button>
                                        </form>
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}

                        {{#if plandetail}}
                            <div class="contentdivision2">
                                {{#each planArray}}
                                    <div id="plan-module-outer">
                                        <div id="plan-module-inner">
                                            <p style="font-weight: 500; font-size:15px;">City : {{this.[0]}}</p>
                                            <p style="font-weight: 500; font-size:15px;">Bus Name : {{this.[1]}}</p>
                                            <form action="/plandelete" method="post">
                                                <input type="hidden" name="planindex" value="{{@index}}">
                                                <button style="background-color: transparent;border-style:none;" type="submit"><i id="plandelete" class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                                            </form>
                                        </div>
                                        <iframe id="busplan" src="{{this.[2]}}" name="myIframe"></iframe>
                                    </div>
                                {{/each}}
                              </div>
                        {{/if}}

                        {{#if busimage}}
                            <div class="contentdivision2">
                                <div class="bus-content">
                                    <p style="font-weight: 500; font-size:18px;" id="busname">{{Busname}}</p>
                                    <p style="font-weight: 500; font-size:18px;" id="seats">{{Busseat}} Seater</p>
                                    <form action="/busfull-delete">
                                        <i id="busdelete" class="fa fa-trash" aria-hidden="true"></i>
                                    </form>
                                </div>
                               <div class="img-result">
                                    {{#each busimg}}
                                        <img id="search-div-1" src="data:{{this}}" alt="">
                                        <form action="/buspic-delete" method="post">
                                            <input type="hidden" name="busidindex" value="{{@index}}">
                                            <button style="background-color: transparent;border-style:none;" type="submit"><i class="fa fa-trash delete-btn" aria-hidden="true"></i></button>
                                        </form>
                                    {{/each}}
                                    </form>
                               </div>
                            </div>
                        {{/if}}

                        {{#if editbusinfo}}
                            <form action="/save-edit" method="post">
                                <div class="contentdivision2">
                                    <div id="searchresultdiv3">
                                        <div id="edit-content">
                                            <input type="hidden" value="{{busname}}" name="oldbusname">
                                            <label for="edit-info-input">Busname</label>
                                            <input id="edit-info-input" type="text" name="busname" value="{{busname}}">

                                            <label for="edit-info-input-1">Seat Count</label>
                                            <input id="edit-info-input-1" type="text" name="seatcount" value="{{seatCount}}">
                                        </div>
                                        <img  id="buspic-edit" src="data:{{img}}" alt="Bus Image">
                                    </div>
                                </div>
                                <button type="submit" class="savebutton" href="/save-edit">Save</button>
                            </form>
                        {{/if}}
                </div>          
            {{/if}}
        </div>
    </div>
</body>
</html>