<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/dealerHome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
            <img id="appicon" src="/images/homelogo.png" alt="logo">
            <form action="/busdetail">
                <button id="profile{{#if dealerprofile}}active{{/if}}"><i class="far fa-id-card"></i> Home</button>
            </form>
            <form action="/plan">
                <button id="plan{{#if plan}}active{{/if}}" href="/plan"><i class="fas fa-clipboard-list"></i> Add Itinerary</button>
            </form>
            <form action="/busdetails">
                <button id="busdetails{{#if busdetails}}active{{/if}}" href="/busdetails"><i class="fas fa-bus"></i> Add Bus</button>
            </form>   
            <form action="/bus-booking">
                <button id="bookingdetails{{#if busbooking}}active{{/if}}" href="/bus-booking"><i class="fa-solid fa-people-carry-box"></i> Booking</button>
            </form>
            <form action="/dealer" class="exitdiv"> <br>
                <button id="exitbutton"><i class="fas fa-sign-out-alt fa-2x"></i> Log out</button>
            </form>                                                      
        </div>
            
        <div id="content">

            {{#if plan}} 
                <div id="plan">
                    <form action="/plandetailsupload" method="post" enctype="multipart/form-data">
                        <div id="plantitle">
                            <p class="plantextcontent">State :</p>
                            <input class="planinputcontent" type="text" placeholder="Enter the Itinerary State" name="state" required autocomplete="off">
                            
                            <label for="textcontent1" class="text-input">Bus Name : </label>
                            <select name="busname" class="textcontent1 textinput" id="verify-value" required>
                                {{#each busname}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div id="plantitle">
                            <p class="plantextcontent" >No of Days :</p>
                            <input  class="planinputcontent" type="number" placeholder="Enter the No of Days" min="1" value="1" name="noofdays" onchange="adddayplanInput()" required autocomplete="off">
                            <p class="plantextcontent">Amount :</p>
                            <input class="planinputcontent" type="number" placeholder="Enter the Amount in Rupee" name="amount" required autocomplete="off">
                        </div>
                        <div id="planlocation">
                            <p class="plantextcontent">Itinerary's Main Spots : <button class="addinput" onclick="addspotInput()">Add <i class="fas fa-plus"></i></button></p><br>
                            <div id="input-container">
                                <!-- Input tags for Main Spots -->
                            </div>
                        </div>
                        <input type="hidden" name="coverlocationcount" id="coverlocationcount">
                        <div id="dayplanlocation">
                            <p class="plantextcontent">Add Day wise Plan :</p><br>
                            <div id="input-container-dayplan">
                                <!-- Input tags for Day wise plan -->
                            </div>
                        </div>
                        <button id="uploadbutton" href="/plandetailsupload">Upload</button>
                    </form>
                    <a id="target-page" href="/plandetail">Go to Itinerary <i class="fas fa-chevron-right"></i></i></a>
                    {{#if disclimer}}
                        <p id="status">{{res}}</p>
                    {{/if}}
                    {{#if disclimerfail}}
                        <p id="status1">{{res}}</p>
                    {{/if}}
                    <p class="disclimer">NOTE : Itinerary Accept only pdf format</p>
                </div>         
            {{/if}}

            {{#if busdetails}}
                <div id="busdetails">
                    <form  action="/busdetailsupload" method="post" enctype="multipart/form-data">
                        <div id="busname">
                            <p class="textcontent">Bus Name : </p>
                            <input class="textinput" type="text" placeholder="Enter the Bus Name" name="busname" required>
                            <p class="textcontent">Seat Count : </p>
                            <input class="textinput" type="text" placeholder="Enter the Seat Capacity" name="seatcount" required>
                        </div>
                        <div id="busname">
                            <p class="textcontent">Sound System : </p>
                            <select name="soundsystem" class="textinput-select" required>
                                <option value="yes">NO</option>
                                <option value="yes">YES</option>
                            </select>
                            <p class="textcontent">Bus Lighting : </p>
                            <select name="lighting" class="textinput-select" required>
                                <option value="no">NO</option>
                                <option value="yes">YES</option>
                            </select>
                            <p class="textcontent">water Filter : </p>
                            <select name="waterfilter" class="textinput-select" required>
                                <option value="no">NO</option>
                                <option value="yes">YES</option>
                            </select>
                        </div>
                        <div id="busname">
                            <p class="textcontent">Ac or Non Ac : </p>
                            <select name="acornonac" class="textinput-select-1" required>
                                <option value="ac">AC</option>
                                <option value="nonac">NON AC</option>
                            </select>
                            <p class="textcontent">Seat Type : </p>
                            <select name="seattype" class="textinput-select-1" required>
                                <option value="seater">SEATER</option>
                                <option value="semisleeper">SEMI SLEEPER</option>
                            </select>
                        </div>
                        <div id="busname">
                            <p class="textcontent">Entertainment System : </p>
                            <select name="entertainsystem" class="textinput-select" required>
                                <option value="yes">NO</option>
                                <option value="yes">YES</option>
                            </select>
                            <p class="textcontent">Lagguage Storage : </p>
                            <select name="lagguagestorage" class="textinput-select" required>
                                <option value="no">NO</option>
                                <option value="yes">YES</option>
                            </select>
                            <p class="textcontent">Wifi Connectivity: </p>
                            <select name="wifi" class="textinput-select" required>
                                <option value="no">NO</option>
                                <option value="yes">YES</option>
                            </select>
                        </div>
                        <div id="imagediv">
                            <label  for="inputTag">
                              Select Images<br/>
                                <i class="fa fa-2x fa-camera"></i>
                                <input id="inputTag" type="file" name="busimage" accept="image/png, image/jpeg" multiple required>
                                <br/>
                            </label>  
                        </div>
                        <input type="hidden" name="flag" id="0">
                        <button id="uploadbutton" href="/busdetailsupload">Upload</button>
                    </form>
                    <a id="target-page" href="/busdetail">Go to Buses <i class="fas fa-chevron-right"></i></a>
                    <p class="disclimer">NOTE : IMAGE ACCEPT ONLY JPEG OR PNG</p>
                    {{#if disclimer}}
                        <p id="status">{{res}}</p>
                    {{/if}}
                    {{#if disclimerfail}}
                        <p id="status1">{{res}}</p>
                    {{/if}}
                </div>           
            {{/if}}

            {{#if dealerprofile}}
                <div id="profilecontent">
                    <div id="contentdivision1">
                        <div id="profile">
                            <img id="profilepic" src="data:{{type.ContentType}};base64,{{value}}" alt="Profile Image" />
                            <h4 id="username">{{dealername}}</h4>
                            <p id="username">{{dealercity}}</p>
                        </div><br>
                        
                        <form id="photoinput" action="/dealerprofile" method="post" enctype="multipart/form-data">
                            <div id="photodiv">
                                <label for="inputTag">
                                    CHANGE IMAGE<br>
                                    <i class="fa fa-camera"></i>
                                    <input id="inputimage" type="file" name="profileimage" accept="image/png, image/jpeg" required>
                                    <span id="imagename"></span>
                                </label>
                            </div>
                            <button id="savebutton" type="submit">Save</button>
                        </form>
                        <form action="/busdetail">
                            <input type="hidden" name="busid" value={{email}}>
                            <button class="contentbutton1{{#if busdetail}}active{{/if}}"><i class="fa fa-bus" aria-hidden="true"></i> BUSES <div id="activestatus1{{#if buscontent}}active{{/if}}"></div></button>
                            <div class="activestatus-div{{#if busdetail}}active{{/if}}"></div>
                        </form>
                        <form action="/plandetail">
                            <input type="hidden" name="planid" value={{email}}>
                            <button class="contentbutton2{{#if plandetail}}active{{/if}}"><i class="fa fa fa-file"></i> ITINERARY<div id="activestatus2{{#if plancontent}}active{{/if}}"></div></button>
                            <div class="activestatus-div{{#if plandetail}}active{{/if}}"></div>
                        </form>
                            
                    </div>
                    
                        {{#if busdetail}}
                            <div class="contentdivision2 planscroll">    
                                {{#each busdetailArray}}
                                    <div id="search-div">
                                        <form action="/edit-businfo" method="post">
                                            <div id="searchresultdiv">
                                                <input type="hidden" name="busname" value="{{this.[0]}}">
                                                <p style="font-weight: 500; font-size:18px;" id="bus-name">{{this.[0]}}</p>
                                                <p style="font-weight: 500; font-size:18px;" id="seats">{{this.[1]}}</p>
                                                <button style="background-color: transparent;border-style:none;" type="submit"><i id="bus-name-edit" class="fas fa-edit"></i></button>
                                            </div>
                                            <div id="bus-features">
                                                <div id="refer-avalibality">
                                                    <p><i class="fa-solid fa-couch"></i> {{this.[2]}}</p>
                                                    {{#if this.[8]}}
                                                        <p id="plan-status-success"><i class="fa-regular fa-circle-check fa-xs"></i> Plan Avaliable</p> 
                                                        <span class="tooltiptext">Plan Avaliable for this Bus</span>  
                                                    {{/if}}
                                                    {{#if this.[9]}}
                                                        <p id="plan-status-failure"><i class="fa-regular fa-circle-xmark fa-xs"></i> Plan Missing</p>
                                                        <span class="tooltiptext1">Plan Not Avaliable for this Bus Add plan</span>  
                                                    {{/if}}
                                                </div>
                                                <p><i class="fa-solid fa-fan"></i> {{this.[3]}}</p>
                                                <p><i class="fa-solid fa-radio"></i> {{this.[4]}}</p>
                                                <p><i class="fa-solid fa-glass-water-droplet"></i> {{this.[5]}}</p>
                                                <p><i class="fa-regular fa-lightbulb"></i> {{this.[6]}}</p>
                                                <p><i class="fa-solid fa-tv fa-sm"></i> {{this.[12]}}</p>
                                                <p><i class="fa-solid fa-wifi fa-sm"></i> {{this.[10]}}</p>
                                                <p><i class="fa-solid fa-suitcase-rolling"></i> {{this.[11]}}</p>
                                            </div>
                                        </form>
                                        <form action="/bus-img-details" method="post">
                                            <input type="hidden" value="{{this.[0]}}" name="busname" >
                                            <button style="background-color: transparent;border-style:none;" type="submit"><img  id="buspic" src="data:{{this.[7]}}" alt="Bus Image"></button>
                                        </form>
                                    </div>
                                {{/each}}
                                {{#if busarraylen}}
                                    <div id="search-div-plus">
                                        <a href="/busdetails" id="align-addnew" style="outline: none;">
                                            <button id="btn-plus-1"><i class="fas fa-bus fa-2x"></i></button>
                                            <p>Add Bus</p>
                                        </a>
                                    </div>
                                {{/if}}
                            </div>
                            {{#if flag}}
                                <div id="searchresultdiv1">
                                    <i id="sademoji" class="fa-regular fa-face-sad-tear fa-3x"></i>
                                    <h1 id="error">No Buses found on Your Company</h1>
                                    <h1 id="error1">Kindly Add the Buses</h1>
                                    <a id="target-page-1" href="/busdetails">Go to Add Buses <i class="fas fa-chevron-right"></i></a>
                                </div>
                            {{/if}}
                        {{/if}}

                        {{#if plandetail}}
                                <div class="contentdivision2 planscroll">
                                    {{#each planArray}}
                                        <div id="plan-module-outer">
                                            <div id="plan-module-inner">
                                                <p style="font-weight: 500; font-size:15px;">State : {{this.[0]}}</p>
                                                <p style="font-weight: 500; font-size:15px;">Bus Name : {{this.[1]}}</p>
                                                <button style="background-color: transparent;border-style:none;" onclick="openForm({{@index}})" id="plandelete"><i class="fa fa-trash-alt fa-2x" aria-hidden="true"></i></button>
                                                <form action="/plandelete" method="post">
                                                    <input id="input2" type="hidden" name="planindex">
                                                    <div id="button-update">
                                                        <p id="sure-id">Are you Sure want to delete?</p>
                                                        <div id="btn-yes-no">
                                                            <a class="aunchor-close"><button type="button" class="btn cancel" onclick="closeForm()">NO</button></a>
                                                            <button type="submit" class="btn" href="/plandelete" >YES</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div style="display: flex;flex-direction:column;gap:20px">
                                                <div>
                                                    <div id="plan-features">
                                                        <div>
                                                            <input id="dayCountid" type="hidden" value="{{this.[2]}}">
                                                            <p><i class="fa-solid fa-calendar-day"></i> {{this.[2]}} days Plan or Itinerary</p><br>
                                                            <p style="font-size: 20px;"><i class="fa-solid fa-tags fa-lg"></i> Plan Amount :  <i class="fa-solid fa-indian-rupee-sign"></i>{{this.[3]}}</p>                                                       
                                                        </div>
                                                        <div style="display: flex;flex-direction:row">
                                                            <p><i class="fa-solid fa-location-arrow"></i> Plan Main Spots</p>
                                                            <div id="plan-location-cover">
                                                                {{#each this.[5]}}
                                                                    <p><i class="fa-solid fa-location-dot"></i> {{this}}</i></p>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="daywise-plan-detail">
                                                    {{#each this.[6] as |outerItem outerIndex|}}
                                                        <div id="plandetails-daywise">
                                                            <p id="day-header">{{this.[0]}}</p>
                                                            <div>
                                                                <div id="outer-photo-block">
                                                                    {{#each this.[2] as |inneritem innerIndex|}}
                                                                        <div class="mySlides{{outerIndex}} fade mySlides" id="bus-img-detail">
                                                                            <img id="bus-image" src="data:{{this}}"  alt="Bus Image" />
                                                                        </div>
                                                                    {{/each}}
                                                                    <div id="prevNextButton">
                                                                        <button class="prev-button" onclick="prevSlide({{@index}})"><i class="fa-solid fa-angle-left fa-2x"></i></button>
                                                                        <button class="next-button" onclick="nextSlide({{@index}})"><i class="fa-solid fa-angle-right fa-2x"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <p id="daywise-content-detail">{{this.[1]}}</p><br>
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                    {{#if busplanarraylen}}
                                        <div id="plan-module-outer-1">
                                            <a href="/plan" id="align-addnew" style="outline: none;">
                                                <button id="btn-plus-1"><i class="fas fa-file-pdf fa-2x"></i></button>
                                                <p>Add Itinerary</p>
                                            </a>
                                        </div>
                                    {{/if}}
                                </div>

                                {{#if flag}}
                                    <div id="searchresultdiv1">
                                        <i id="sademoji" class="fas fa-paper-plane fa-3x"></i>
                                        <h1 id="error">No Itinerary found for Your Buses</h1>
                                        <h1 id="error1">Kindly Add the Itinerary</h1>
                                        <a id="target-page-1" href="/plan">Go to Add Itinerary <i class="fas fa-chevron-right"></i></a>
                                    </div>
                                {{/if}}
                        {{/if}}

                        {{#if busimage}}
                            <div class="contentdivision2">
                                <div class="bus-content">
                                    <p style="font-weight: 500;font-size: 18px;display: flex;gap: 5px;justify-content: center;align-items: baseline;margin-left:30px" id="busname"><i class="fas fa-bus"></i> Bus Name : {{Busname}}</p>
                                    <p style="font-weight: 500;font-size: 18px;display: flex;gap: 5px;justify-content: center;align-items: baseline; margin-left:100px" id="seats"><i class="fas fa-couch"></i>Seats: {{Busseat}}</p>
                                    <button id="btn-delete-total" style="background-color: transparent;border-style:none;margin-left:400px" onclick="openDeletebusform()" ><i id="busdelete" class="fa fa-trash-alt fa-2x" aria-hidden="true"></i></button>
                                </div>
                               <div class="img-result">
                                    {{#each busimg}}
                                        <img id="search-div-1" src="data:{{this.[0]}}" alt="">
                                        <button style="background-color: transparent;border-style:none;" onclick="openbusform({{@index}},'{{this.[1]}}')"><i class="fas fa-trash-restore-alt fa-lg"></i></i></button>
                                        <form action="/buspic-delete" method="post">
                                            <input id="input2" type="hidden" name="busidindex">
                                            <input id="input3" type="hidden" name="picbusname" >
                                            <div id="button-update-bus">
                                                <p id="sure-id">Are you Sure want to delete  ?</p>
                                                <div id="btn-yes-no">
                                                    <a  class="aunchor-close"><button type="button" class="btn cancel" onclick="closebusForm()">NO</button></a>
                                                    <button type="submit" class="btn" href="/buspic-delete" >YES</button>
                                                </div>
                                            </div>
                                        </form>
                                    {{/each}}
                                    <form  action="/buspicadd" method="post" enctype="multipart/form-data">
                                        <input id="valinsertnusname"  type="hidden"  name="busname" value="{{Busname}}">
                                        <div id="search-div-addimage">
                                            <label id="label-addimage" for="inputTag">
                                                Add Image<br/>
                                                <i class="fas fa-camera-retro fa-2x"></i>
                                                <input id="inputTag" type="file" name="busimage" accept="image/png, image/jpeg" multiple required>
                                                <br/>
                                            </label>
                                            <button id="uploadbutton-1" href="/buspicadd" >Upload</button>
                                        </div>
                                    </form>
                               </div>
                            </div>
                        {{/if}}

                        {{#if editbusinfo}}
                            <form action="/save-edit" method="post">
                                <div class="contentdivision2">
                                    <div id="searchresultdiv3">
                                    </div>
                                        <div id="edit-content">
                                            <input type="hidden" value="{{busname}}" name="oldbusname">
                                            <label for="edit-info-input">Busname</label>
                                            <input id="edit-info-input" type="text" name="busname" value="{{busname}}">

                                            <div style="display: flex;flex-direction:row">
                                                <div id="inner-div-content">
                                                    <label for="edit-info-input-1">Seat Count</label>
                                                    <input id="edit-info-input-1" type="number" name="seatcount" value="{{seatCount}}" min="0">
                                                </div>
                                                <div id="inner-div-content">
                                                    <p class="textcontent">Seat Type</p>
                                                    <select name="seattype" class="edit-selector" required>
                                                        <option value="seater">SEATER</option>
                                                        <option value="semisleeper">SEMI SLEEPER</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div style="display: flex;flex-direction:row">
                                                <div id="inner-div-content">
                                                    <p class="">Sound System</p>
                                                    <select name="soundsystem" class="textinput-select" required>
                                                        <option value="yes">NO</option>
                                                        <option value="yes">YES</option>
                                                    </select>
                                                </div>
                                                <div id="inner-div-content">
                                                    <p class="">Bus Lighting</p>
                                                    <select name="lighting" class="textinput-select" required>
                                                        <option value="no">NO</option>
                                                        <option value="yes">YES</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div style="display: flex;flex-direction:row">
                                                <div id="inner-div-content">
                                                    <p style="margin-top: 15px;color:#000000">Water Filter</p>
                                                    <select style="box-shadow: 0px 0px 5px -1px rgb(0,0,0.1);" name="waterfilter" class="textinput-select" required>
                                                        <option value="no">NO</option>
                                                        <option value="yes">YES</option>
                                                    </select>
                                                </div>
                                                <div id="inner-div-content">
                                                    <p style="margin-top: 15px;color:#000000">AC or Non AC</p>
                                                    <select style="box-shadow: 0px 0px 5px -1px rgb(0,0,0.1);" name="acornonac" class="textinput-select" required>
                                                        <option value="ac">AC</option>
                                                        <option value="nonac">NON AC</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div id="image-edit-div">
                                            <img  id="buspic-edit" src="data:{{img}}" alt="Bus Image">
                                        </div>
                                </div>
                                <button type="submit" class="savebutton" href="/save-edit">Save</button>
                            </form>
                        {{/if}}
                </div>          
            {{/if}}
        </div>
    </div>
</body>

<script>
    function openForm(index) {
        var profilecont1 = document.getElementById("profilecontent");

        {{!-- const planscroll = document.getElementsByClassName('planscroll');
        planscroll.style.overflow = 'hidden'; --}}

        document.getElementById('input2').value = index;

        document.getElementById("button-update").style.display = "block";
        profilecont1.style.animationDelay="1s"
        document.getElementById("button-update").style.opacity="1";
        return;
        
    }

    function assignbusname(busname){
        document.getElementById('valinsertnusname').value = busname;
        return;
    }

    function closeForm(){
        var profilecont1 = document.getElementById("profilecontent");

        document.getElementById("button-update").style.display = "none";
        profilecont1.style.animationDelay="1s"
        return;
    }

    function openbusform(index,busname) {
        var profilecont1 = document.getElementById("profilecontent");

        document.getElementById('input2').value = index;
        document.getElementById('input3').value = busname;

        document.getElementById("button-update-bus").style.display = "block";
        profilecont1.style.animationDelay="1s"
        document.getElementById("button-update-bus").style.opacity="1";

        document.getElementById('contentdivision1').addEventListener('click', function(event) {
            event.preventDefault();
        });
        return 
    }
    function closebusForm(){
        document.getElementById("button-update-bus").style.display = "none";
        return;
    }

    function validateForm() {
        var selectValue = document.getElementsById("verify-value");
        if (selectValue.value === "") {
            alert("Please Add bus befor plan!!!");
            return false; 
        }
    }

    {{!-- var plan = document.getElementById("inputTag");
    plan.addEventListener("input", function() {
        if (plan.value !== "") {
            document.getElementById("imagediv").style.color = "red";
        } else {
            document.getElementById("imagediv").style.color = "#2d3467";
        }
        return;
    })

    var plan = document.getElementById("inputTag");
    plan.addEventListener("input", function() {
        if (plan.value !== "") {
            document.getElementById("label-addimage").style.color = "red";
        } else {
            document.getElementById("label-addimage").style.color = "#2d3467";
        }
        return;
    }) --}}

    function openDeletebusform(){
        var profilecont1 = document.getElementById("profilecontent");

        document.getElementById("button-delete-bus").style.display = "block";
        profilecont1.style.animationDelay="1s"
        document.getElementById("button-delete-bus").style.opacity="1";

        document.getElementById('contentdivision1').addEventListener('click', function(event) {
            event.preventDefault();
        });
     
        document.getElementsByClassName('contentdivision2').style.overflow="hidden";
        return
    }

    function closeDeletebusForm(){
        document.getElementById("button-delete-bus").style.display = "none";
        return;
    }

    let inputCountspot = 1;
    let cntspot=1;
    addspotInput()
    function addspotInput() {
      try{
        inputCountspot++;
        const container = document.getElementById("input-container");
        const coverlocationcount = document.getElementById("coverlocationcount");
        const input = document.createElement("input");
        input.type = "text";
        input.name = "location_" + inputCountspot;
        coverlocationcount.value=inputCountspot;
        input.setAttribute("placeholder", "Enter the Location");
        input.setAttribute("required", "true");
        input.setAttribute("autocomplete", "off");
        input.classList.add('planlocationinput');
        
        const deleteButton = document.createElement("button");
        deleteButton.innerHTML = '<i class="fas fa-trash"></i>'
        deleteButton.classList.add('delete-button');
        deleteButton.onclick = function() {
            if(cntspot>2){
                container.removeChild(input);
                container.removeChild(deleteButton);
                cntspot--;
            }
        };
        cntspot++;
        container.appendChild(input);
        container.appendChild(deleteButton);
      }catch{
        return
      }
    }
    adddayplanInput()
    function adddayplanInput(){
        try{
            var noOfDays = document.querySelector('input[name="noofdays"]').value;
            var dayPlanContainer = document.getElementById("input-container-dayplan");

            // Clear the container
            dayPlanContainer.innerHTML = "";
            // Add textarea inputs based on the number of days
            for (var i = 1; i <= noOfDays; i++) {
                var divContainer = document.createElement("div");
                divContainer.classList.add('day-plan-detail');

                var textarea = document.createElement("textarea");
                textarea.setAttribute("name", "dayPlan_" + i);
                textarea.setAttribute("placeholder", "Enter Day " + i + " Plan");
                textarea.setAttribute("required", "true");
                textarea.classList.add('dayplantextarea');
                var daycontenttxt = document.createElement("p");
                daycontenttxt.setAttribute("id", "Daytext");
                daycontenttxt.textContent = `Day ${i}`;

                const label = document.createElement('label');
                label.setAttribute('for', 'inputTag');
                label.textContent = 'Add Spot Images';

                const icon = document.createElement('i');
                icon.classList.add('fa-regular', 'fa-image');

                label.appendChild(icon);

                const input = document.createElement('input');
                input.setAttribute('class', 'inputTag');
                input.setAttribute('type', 'file');
                input.setAttribute('name', 'locationimage_'+i);
                input.setAttribute('accept', 'image/png,image/jpeg');
                input.setAttribute('multiple', 'multiple');
                input.setAttribute('required', 'required');
                label.appendChild(input);

                divContainer.appendChild(daycontenttxt);
                divContainer.appendChild(textarea);
                divContainer.appendChild(label);

                dayPlanContainer.appendChild(divContainer);
            }
        }
        catch{
            return;
        }
    }

    {{!-- const activeDiv = document.getElementById('bus-img-detail');
    function checkDivActiveStatus() {
        if (activeDiv.classList.contains('mySlides')) {
            showSlides();
        }
    } --}}

    

    // JavaScript code to prev and next of the image
let slideIndex = [];

function showSlide(indexValue) {
    
    try{
        const slides = document.getElementsByClassName("mySlides"+indexValue);

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        if (slideIndex[indexValue] < 1) {
            slideIndex[indexValue] = slides.length;
        } else if (slideIndex[indexValue] > slides.length) {
            slideIndex[indexValue] = 1;
        }

        slides[slideIndex[indexValue] - 1].style.display = "block";
        dots[slideIndex[indexValue] - 1].classList.add("active");
    }
    catch{
        return
    }
}

function prevSlide(ind) {
    slideIndex[ind]--;
    showSlide(ind);
}

function nextSlide(ind) {
    slideIndex[ind]++;
    showSlide(ind);
}

document.addEventListener("DOMContentLoaded", function () {
    try{
        const dayCountid = document.getElementById("dayCountid").value;
        slideIndex = Array.from({ length: dayCountid }, () => 1);
        for(let i=0;i<dayCountid;i++){
            showSlide(i);   
        }
        const prevButton = document.querySelector(".prev-button");
        const nextButton = document.querySelector(".next-button");

        prevButton.addEventListener("click", prevSlide);
        nextButton.addEventListener("click", nextSlide);
    }
    catch{
        return
    }
});

</script>
</html>