<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <div class="bookingdiv">
                    <button id="bookingbutton" href="/home" ><img id="bookingimg" src="/images/bookingcolour.png" alt="homeicon">Booking</button>
                </div>

                <form action="/dealer" class="accountdiv" >
                    <button id="accountbutton" href="/dealer"> <img id="accountimg" src="/images/dealer.png" alt="dealericon">Dealer</button>
                </form>

                <form action="/profile"  class="profilediv">
                    <button id="profilebutton" href="/profile"><img id="profileimg" src="/images/profile.png" alt="profileicon">Profile</button>
                </form>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><img id="exitimg" src="/images/exit.png" alt="exiticon"></button>
                </form>                                                                                                 
        </div>

        {{#if content}}
            <div id="content">
                <form action="/search" method="post" id="fromToBlock">
                    <p id="fromtext"><img id="city" src="/images/city.png" alt="city"><input type="text" id="from" placeholder="From" name="source" required></p>
                    <button id="swapbutton" href="/home"><img id="swapicon" src="/images/swap.png" alt="swapicon"></button>
                    <p id="totext"><img id="city" src="/images/city.png" alt="city"><input type="text" id="to" placeholder="To" name="destination" required></p>
                    <input type="date" id="calander" name="date" required>
                    <button id="searchbutton" href="/search" >Search</button>
                </form>
            </div>
        {{/if}}

        <div class="mainblock">
            {{#if searchresult}}
                <nav id="nav">
                    <form action="/home">
                        <button id="home{{#if home}}active{{/if}}" href="/home">Home</button>
                    </form>
                </nav>
            {{/if}}

            {{#if result}}
                <div id="fetch-content-maindiv">
                    {{#each buscontent}}
                            <div id="search-div">
                                <div id="searchresultdiv">
                                    <img style="width: 30px; height:30px;border-radius:50px" src="data:{{this.[0]}}" alt="dealerpic">
                                    <p style="font-weight: 500; font-size:15px;">{{this.[1]}}</p>
                                    <p style="font-weight: 500; font-size:15px;">{{this.[2]}}</p>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <p style="font-weight: 500; font-size:15px;">{{this.[3]}}</p>
                                    <p style="font-weight: 500; font-size:15px;">{{this.[4]}} Seater</p>
                                </div>
                                <img id="busimg" src="data:{{this.[5]}}" alt="buspic">
                                <div id="buttons">
                                    <form action="/busimg" method="post">
                                        <input type="hidden" name="busid" value={{@index}}>
                                        <button type="submit" id="buspic-buttons" href="/busimg"><i class="fa fa-bus" aria-hidden="true"></i> Bus Image</button>
                                    </form>
                                    <form action="busplan" method="post">
                                        <input type="hidden" name="planid" value={{@index}}>
                                        <button type="submit" id="plan" href="/busplan"><i class="fa fa-file" aria-hidden="true"></i> Plan</button>
                                    </form>
                                </div>
                            </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if error}}
                <div id="searchresultdiv1">
                    <i id="sademoji" class="fa fa-frown fa-3x" aria-hidden="true" ></i>
                    <h1 id="error">{{res}}</h1>
                    <h1 id="error1">Do check Other Routes</h1>
                </div><br>
            {{/if}}

            {{#if image}}
                <div id="bus-img">
                    <div id="outer-photo-block">
                        {{#each imagecontent}}
                            <div id="particularimg">
                                <img id="buspic" class="{{@indeximg}}" src="data:{{this}}" width="600px" height="400px" alt="Bus Image" />
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</body>
</html>


