<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Result</title>
    <link rel="icon" href="/images/logowhite.svg">
    <link rel="stylesheet" href="/homeresult.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
    
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <form action="/home" class="bookingdiv-1">
                    <button id="bookingbutton" href="/home" ><i class="fa-solid fa-house"></i> Home</button>
                </form>

                <form action="/booking"  class="bookingdiv">
                    <button id="bookingbutton" href="/booking"><i class="fa-brands fa-opencart"></i> Booking</button>
                </form>

                <form action="/likes-bus" class="bookingdiv">
                    <button id="bookingbutton" href="/likes-bus"><i class="fa-solid fa-heart"></i> Wishlist</button>
                </form>

                <form action="/profile"  class="profilediv">
                    <button id="profilebutton" href="/profile"><i class="fa-solid fa-user"></i> Profile</button>
                </form>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><i class="fas fa-sign-out-alt fa-lg"></i> Sign Out</button>
                </form>                                                                                                 
        </div>
        <div class="mainblock">
            {{#if searchresult}}
                <nav id="nav{{#if busContent}}content{{/if}}">
                    {{#if busContent}}
                        <div style="display: flex;flex-direction:column;margin-left:35px">
                            <p style="font-weight: 500; font-size:35px;">{{busdata.[1]}}</p>
                            <div class="div-control">
                                <img style="width: 20px; height:20px;border-radius:50px" src="data:{{busdata.[0]}}" alt="dealerpic">
                                <p id="dealercompanyname-1">{{busdata.[2]}}</p>
                            </div>
                        </div>
                        <div id="source-place">
                            <p id="pickup-txt"><i class="fa-solid fa-person-walking-luggage fa-flip-horizontal"></i> Pick up</p>
                            <p id="source-place-1">{{headerdata.[2]}}<input type="hidden" id="from" placeholder="From" name="source" value="{{source_destination.[1]}}"  required></p>
                        </div>
                        <div id="source-place-2">
                            <p id="pickup-txt"><i class="fa-solid fa-person-walking-luggage"></i> Target Location</p>
                            <p id="source-place-1">{{headerdata.[4]}}<input type="hidden" id="from" placeholder="From" name="source" value="{{source_destination.[1]}}"  required></p>
                        </div>
                    {{/if}}
                    {{#if source_destination}}
                        <p id="plan-count">{{length}} Plans in {{source_destination.[4]}}</p>
                        <div id="source-place">
                            <p id="pickup-txt"><i class="fa-solid fa-person-walking-luggage fa-flip-horizontal"></i> Pick up</p>
                            <p id="source-place-1">{{source_destination.[2]}}<input type="hidden" id="from" placeholder="From" name="source" value="{{source_destination.[1]}}"  required></p>
                        </div>
                        <div id="source-place-2">
                            <p id="pickup-txt"><i class="fa-solid fa-person-walking-luggage"></i> Target Location</p>
                            <p id="source-place-1">{{source_destination.[4]}}<input type="hidden" id="from" placeholder="From" name="source" value="{{source_destination.[1]}}"  required></p>
                        </div>
                    {{/if}}
                </nav>
            {{/if}}

            {{#if result}}
                <div id="fetch-content-maindiv">
                    {{#each buscontent}}
                            <div id="search-div">
                                <div id="buttons">
                                    <form action="/busimg" method="post">
                                        <input type="hidden" name="source" value={{this.[2]}}>
                                        <input type="hidden" name="destination" value={{this.[3]}}>
                                        <input type="hidden" name="busid" value={{@index}}>
                                        <button type="submit" id="buspic-buttons" href="/busimg"></button>
                                    </form>
                                </div>
                                <img id="busimg" src="data:{{this.[12]}}" alt="buspic">
                                <div id="searchresultdiv">
                                    <div class="div-control">
                                        <img style="width: 30px; height:30px;border-radius:50px" src="data:{{this.[0]}}" alt="dealerpic">
                                        <p style="font-weight: 500; font-size:20px;">{{this.[1]}}</p>
                                    </div>
                                    <p id="dealercompanyname">{{this.[2]}}</p>
                                    <p style="margin-top: 10px;margin-left:40px">Package Highlights</p>
                                    <div id="div-size-control">
                                        {{#each this.[3]}}
                                            <p><i class="fa-solid fa-location-dot"></i> {{this}}</p>
                                        {{/each}}
                                    </div>
                                    <div class="div-control-1">
                                        <i data-star="{{this.[13]}}"></i>
                                        <p>{{this.[13]}}</p>
                                    </div>
                                    <div id="bus-feature-div">
                                        {{#if this.[5]}}
                                            <p><i class="fa-solid fa-radio"></i> Audio System</p>
                                        {{/if}}
                                        {{#if this.[7]}}
                                            <p><i class="fa-solid fa-couch"></i> Seater</p>
                                        {{else}}
                                            <p><i class="fa-solid fa-couch"></i> Semi Sleeper</p>
                                        {{/if}}
                                        {{#if this.[8]}}
                                            <p><i class="fa-solid fa-lightbulb"></i> DJ Lighting</p>
                                        {{/if}}
                                        {{#if this.[9]}}
                                            <p><i class="fa-solid fa-glass-water-droplet"></i> Purifier</p>
                                        {{/if}}
                                    </div>
                                </div>
                                <div id="seat-count">
                                    <p>{{this.[4]}} Seat</p>
                                </div>
                                <div id="ac-p">
                                    {{#if this.[6]}}
                                        <p id="ac-p-inner"><svg width="20" height="20" stroke-width="1.5"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="IconChangeColor"> <path d="M22 3.6V11H2V3.6C2 3.26863 2.26863 3 2.6 3H21.4C21.7314 3 22 3.26863 22 3.6Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M18 7H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M2 11L2.78969 13.5844C3.04668 14.4255 3.82294 15 4.70239 15H6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M22 11L21.2103 13.5844C20.9533 14.4255 20.1771 15 19.2976 15H18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M9.5 14.5C9.5 14.5 9.5 21.5 6 21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M14.5 14.5C14.5 14.5 14.5 21.5 18 21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M12 14.5V21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> </svg> AC</p>
                                    {{else}}
                                        <p id="ac-p-inner"><i class="fa-solid fa-fan"></i> Non AC</p>
                                    {{/if}}
                                </div>
                                <div id="busamount-div">
                                    <button id="totalamount-button"><p>Total Amount<br><i class="fa-solid fa-indian-rupee-sign"></i> {{this.[10]}}</p></button>
                                    <button id="bookamount-button"><p>Book at<br><i class="fa-solid fa-indian-rupee-sign"></i> {{this.[11]}}</p></button>
                                </div>
                                <div id="busamount-div-heart">
                                    {{#if this.[19]}}
                                    <button id="heart-button" onclick="likebutton('{{this.[18]}}',{{@index}})"><i id="toggleheart_{{@index}}"  class="fa-solid fa-heart fa-lg"></i></button>
                                    {{else}}
                                    <button id="heart-button" onclick="likebutton('{{this.[18]}}',{{@index}})"><i id="toggleheart_{{@index}}"  class="fa-regular fa-heart fa-lg"></i></button>
                                    {{/if}}
                                </div>
                                
                            </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if error}}
                <div id="searchresultdiv1">
                    <i id="sademoji" class="fa fa-frown fa-3x" aria-hidden="true" ></i>
                    <h1 id="error">{{res}}</h1>
                    <a href="/home" id="error1">Do check Other Routes <i class="fa-solid fa-angle-right"></i></a>
                </div><br>
            {{/if}}

            {{#if busContent}}
                <div id="outer-bus-data">
                    <div id="bus-img">
                        <div id="outer-photo-block">
                            {{#each imagecontent}}
                                <div class="mySlides fade" id="bus-img-detail">
                                    <img id="bus-image" src="data:{{this}}"  alt="Bus Image" />
                                </div>
                            {{/each}}

                            <br><div id="dot">
                                {{#each imagecontent}}
                                    <div style="text-align:center">
                                        <span class="dot"></span> 
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div id="bus-feature-data">
                            <div class="div-control-rating">
                                <p style="margin-top: 5px;">Rating : </p>
                                <i data-star="{{busdata.[13]}}"></i>
                                <p style="margin-top: 7px;">{{busdata.[13]}}</p>
                            </div>
                            <div class="div-control-features">
                                <strong id="feature-header">Bus Features</strong>
                                {{#if busdata.[14]}}
                                    <p><i class="fa-solid fa-wifi"> </i> <strong>Network:</strong> Free Wi-Fi connectivity for passengers</p>
                                {{/if}}
                                {{#if busdata.[5]}}
                                    <p><i class="fa-solid fa-radio fa-lg"></i> <strong>Sound System:</strong> Premium audio system with surround sound.</p>
                                {{/if}}
                                {{#if busdata.[6]}}
                                    <p id="ac-p-inner-1"><svg width="20" height="25" stroke-width="1.5"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="IconChangeColor"> <path d="M22 3.6V11H2V3.6C2 3.26863 2.26863 3 2.6 3H21.4C21.7314 3 22 3.26863 22 3.6Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M18 7H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M2 11L2.78969 13.5844C3.04668 14.4255 3.82294 15 4.70239 15H6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M22 11L21.2103 13.5844C20.9533 14.4255 20.1771 15 19.2976 15H18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M9.5 14.5C9.5 14.5 9.5 21.5 6 21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M14.5 14.5C14.5 14.5 14.5 21.5 18 21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M12 14.5V21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> </svg> <strong>Air Conditioning:</strong> Yes</p>
                                {{else}}
                                    <p id="ac-p-inner"><svg width="20" height="25" stroke-width="1.5"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="IconChangeColor"> <path d="M22 3.6V11H2V3.6C2 3.26863 2.26863 3 2.6 3H21.4C21.7314 3 22 3.26863 22 3.6Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M18 7H19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M2 11L2.78969 13.5844C3.04668 14.4255 3.82294 15 4.70239 15H6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M22 11L21.2103 13.5844C20.9533 14.4255 20.1771 15 19.2976 15H18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M9.5 14.5C9.5 14.5 9.5 21.5 6 21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M14.5 14.5C14.5 14.5 14.5 21.5 18 21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> <path d="M12 14.5V21.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" id="mainIconPathAttribute"></path> </svg> <strong>Air Conditioning:</strong> No</p>
                                {{/if}}
                                {{#if busdata.[7]}}
                                    <p><i class="fa-solid fa-couch"></i> <strong>Seat Type:</strong> {{busdata.[4]}} Comfortable seats for a relaxing trip.</p>
                                {{else}}
                                    <p><i class="fa-solid fa-couch"></i> <strong>Seat Type:</strong> {{busdata.[4]}} Reclining seats with ample legroom</p>
                                {{/if}}
                                {{#if busdata.[8]}}
                                    <p><i class="fa-solid fa-lightbulb" ></i> <strong>Lighting:</strong> LED lighting for a comfortable ambiance.</p>
                                {{/if}}
                                {{#if busdata.[9]}}
                                    <p><i class="fa-solid fa-glass-water-droplet fa-lg"></i><strong> Water Purifier:</strong> Provision for clean drinking water</p>
                                {{/if}}
                                {{#if busdata.[15]}}
                                    <p><i class="fa-solid fa-suitcase-rolling fa-lg"></i> <strong>Luggage Storage:</strong> Secure storage for passenger's luggage</p>
                                {{else}}
                                    <p><i class="fa-solid fa-suitcase-rolling fa-lg"></i> <strong>Luggage Storage:</strong> No Luggage storage</p>
                                {{/if}}
                                {{#if busdata.[16]}}
                                    <p><i class="fa-solid fa-tv"></i> <strong>Entertainment System:</strong> TV screens for in-bus entertainment</p>
                                {{/if}}
                                <input id="dayCountid" type="hidden" value="{{busdata.[17]}}">
                            </div>
                        </div>
                    </div>
                    <div id="bus-plan-data">
                        {{#each planDataArray as |outerItem outerIndex|}}
                            <div class="div-control-plan">
                                <div class="day-header">
                                    <p>{{this.[0]}} - {{this.[3]}}</p>
                                </div>
                                <div>
                                    {{#each this.[2]}}
                                        <div class="mySlidesspot{{outerIndex}} fadespot mySlidesspot" id="bus-img-detail">
                                            <img id="spot-image" src="data:{{this}}"  alt="spot Image" />
                                        </div>
                                    {{/each}}
                                    <div id="prevNextButton">
                                        <button class="prev-button" onclick="prevSlide({{@index}})"><i class="fa-solid fa-angle-left fa-2x"></i></button>
                                        <button class="next-button" onclick="nextSlide({{@index}})"><i class="fa-solid fa-angle-right fa-2x"></i></button>
                                    </div>
                                </div>
                                <div>
                                    <p>{{this.[1]}}</p>
                                </div>
                            </div>
                        {{/each}}
                        <div id="pay-footer">
                            <p class="pay-footer-txt">Total Amount to Pay : <i class="fa-solid fa-indian-rupee-sign"></i> {{busdata.[10]}}</p>
                            <div style="display: flex;flex-direction:column;gap:10px">
                                <button id="bookamount-button"><p>Book Now at<br><i class="fa-solid fa-indian-rupee-sign"></i> {{busdata.[11]}}</p></button>
                                <p style="font-size: 13px;">Remaning Pay On pickup</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</body>
<script>

    async function likebutton(id,index){
        try {
            const response = await fetch(`/toggle-like/${id}`, {
                method: 'POST',
            });

            if (response.ok) {
                const data = await response.json();
                if(data.isLiked ==="Like"){
                    let togglePassword = document.getElementById(`toggleheart_${index}`);
                    togglePassword.classList.remove('fa-regular');
                    togglePassword.classList.add('fa-solid');
                }
                else{
                    let togglePassword = document.getElementById(`toggleheart_${index}`);
                    togglePassword.classList.remove('fa-solid');
                    togglePassword.classList.add('fa-regular');
                }
            }
        } catch (error) {
            console.error('Error toggling like:', error);
        }
        
    }

    //javascript code for prev and next od day spot images

    let slideIndexarr = [];

    function showSlide(indexValue) {
        
        try{
            const spotslides = document.getElementsByClassName("mySlidesspot"+indexValue);

            for (let i = 0; i < spotslides.length; i++) {
                spotslides[i].style.display = "none";
            }

            if (slideIndexarr[indexValue] < 1) {
                slideIndexarr[indexValue] = spotslides.length;
            } else if (slideIndexarr[indexValue] > spotslides.length) {
                slideIndexarr[indexValue] = 1;
            }

            spotslides[slideIndexarr[indexValue] - 1].style.display = "block";
        }
        catch{
            return
        }
    }

    function prevSlide(ind) {
        slideIndexarr[ind]--;
        showSlide(ind);
    }

    function nextSlide(ind) {
        slideIndexarr[ind]++;
        showSlide(ind);
    }

    document.addEventListener("DOMContentLoaded", function () {
        try{
            const dayCountid = document.getElementById("dayCountid").value;
            slideIndexarr = Array.from({ length: dayCountid }, () => 1);
            console.log(slideIndexarr)
            console.log(dayCountid+"asdgsfhdgjfhg")
            for(let i=0;i<dayCountid;i++){
                showSlide(i);   
            }
            const prevButton = document.querySelector(".prev-button");
            const nextButton = document.querySelector(".next-button");

            prevButton.addEventListener("click", prevSlide);
            nextButton.addEventListener("click", nextSlide);
        }
        catch(e){
            return
        }
    });

    //auto slide the bus images
    let slideIndex = 1;
    const activeDiv = document.getElementById('bus-img-detail');

    function checkDivActiveStatus() {
        try{
            if (activeDiv.classList.contains('mySlides')) {
                showSlides();
            }
        }
        catch{
            return;
        }
    }

function showSlides() {
    try{
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dots[i].classList.remove("active");
        }

        if (slideIndex < 1) {
            slideIndex = slides.length;
        } else if (slideIndex > slides.length) {
            slideIndex = 1;
        }

        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].classList.add("active");
        slideIndex++;
    }
    catch{
        return
    }
}

checkDivActiveStatus();

setInterval(showSlides, 3000);




</script>
</html>