<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <div class="bookingdiv">
                    <button id="bookingbutton" href="/home" ><i class="fas fa-clipboard-check fa-lg"></i> Booking</button>
                </div>

                <form action="/profile"  class="profilediv">
                    <button id="profilebutton" href="/profile"><i class="fas fa-id-badge fa-lg"></i> Profile</button>
                </form>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><i class="fas fa-sign-out-alt fa-lg"></i> Log Out</button>
                </form>                                                                                                 
        </div>

        {{#if content}}
            <div id="content">
                <form action="/search" method="post" id="fromToBlock">
                    <p id="fromtext"><img id="city" src="/images/city.png" alt="city"><input type="text" id="from" placeholder="From" name="source" required></p>
                    <button id="swapbutton"  onclick="swapInputs()" type="button"><img id="swapicon" src="/images/swap.png" alt="swapicon"></button>
                    <p id="totext"><img id="city" src="/images/city.png" alt="city"><input type="text" id="to" placeholder="To" name="destination" required></p>
                    <input type="date" id="calander" name="date" required>
                    <button id="searchbutton" href="/search" type="submit">Search</button>
                </form>
            </div>
        {{/if}}

        <div class="mainblock">
            {{#if searchresult}}
                <nav id="nav{{#if image}}image{{/if}}{{#if detailplan}}image{{/if}}">
                    <form action="/home">
                        <button id="home{{#if home}}active{{/if}}" href="/home">Home</button>
                    </form>

                    {{#if source_destination}}
                        <form action="/search" method="post" id="swap-source-destination">
                        <div id="source-place">
                            <p>From</p>
                            <p id="source-place-1">{{source_destination.[3]}}<input type="hidden" id="from" placeholder="From" name="source" value="{{source_destination.[1]}}" required></p>
                        </div>
                            <button href="/search" id="swap"><i class="fa-solid fa-right-left"></i></button>
                        <div id="destination-place">
                            <p>To</p>
                            <p id="destination-place-1">{{source_destination.[4]}}<input type="hidden" id="to" placeholder="To" name="destination" value="{{source_destination.[0]}}" required></p>
                        </div>
                            <input type="hidden" id="calander" name="date" value="{{source_destination.[2]}}" required>
                            
                        </form>
                    {{/if}}
                </nav>
            {{/if}}

            {{#if result}}
                <div id="fetch-content-maindiv">
                    {{#each buscontent}}
                            <div id="search-div">
                                <div id="searchresultdiv">
                                    <img style="width: 30px; height:30px;border-radius:50px" src="data:{{this.[0]}}" alt="dealerpic">
                                    <p style="font-weight: 500; font-size:15px;">{{this.[1]}}</p>
                                    <p style="font-weight: 500; font-size:15px;">{{this.[2]}}</p>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <p style="font-weight: 500; font-size:15px;">{{this.[3]}}</p>
                                    <p style="font-weight: 500; font-size:15px;">{{this.[4]}} Seater</p>
                                </div>
                                <img id="busimg" src="data:{{this.[5]}}" alt="buspic">
                                <div id="buttons">
                                    <form action="/busimg" method="post">
                                        <input type="hidden" name="source" value={{this.[2]}}>
                                        <input type="hidden" name="destination" value={{this.[3]}}>
                                        <input type="hidden" name="busid" value={{@index}}>
                                        <button type="submit" id="buspic-buttons" href="/busimg"><i class="fa fa-bus" aria-hidden="true"></i> Bus Image</button>
                                    </form>
                                    <form action="/busplan" method="post">
                                    <input type="hidden" name="source" value={{this.[2]}}>
                                        <input type="hidden" name="destination" value={{this.[3]}}>
                                        <input type="hidden" name="planid" value={{@index}}>
                                        <button type="submit" id="plan" href="/busplan"><i class="fa fa-file" aria-hidden="true"></i> Itinerary</button>
                                    </form>
                                </div>
                            </div>
                    {{/each}}
                </div>
            {{/if}}

            {{#if error}}
                <div id="searchresultdiv1">
                    <i id="sademoji" class="fa fa-frown fa-3x" aria-hidden="true" ></i>
                    <h1 id="error">{{res}}</h1>
                    <h1 id="error1">Do check Other Routes</h1>
                </div><br>
            {{/if}}

            {{#if image}}
                <div id="bus-img">
                    <div id="outer-photo-block">
                        <div id="busdetail">
                            {{#if totalDetail}}
                                <form action="/search" method="post">
                                    <input type="hidden" id="from" placeholder="From" name="source" value="{{totalDetail.[1]}}" required>
                                    <input type="hidden" id="to" placeholder="To" name="destination" value="{{totalDetail.[2]}}" required>
                                    <input type="hidden" id="calander" name="date" value="{{date}}" required>
                                    <button type="submit" id="button-busdetial" >
                                        <div class="bus-name">
                                            <p style="font-weight: 500; font-size:18px;"><img src="/images/bus.png" alt="seats" style="height: 15px;width: 15px;">  {{totalDetail.[0]}}</p>
                                        </div>
                                        <div class="place-name">
                                            <p style="font-weight: 500; font-size:18px; color:#7b014c;">{{totalDetail.[1]}}</p>
                                        </div>
                                        <div class="arrow-right">
                                            <i style="color:#2d3467" class="fa fa-long-arrow-right fa-2x" aria-hidden="true" ></i>
                                        </div>
                                        <div class="place-name">
                                            <p style="font-weight: 500; font-size:18px; color:#7b014c;">{{totalDetail.[2]}}</p>
                                        </div>
                                        <div class="seat-count">
                                            <p style="font-weight: 500; font-size:18px;">{{totalDetail.[3]}}seater</p>
                                        </div>
                                    </button>
                                </form>
                            {{/if}}
                        </div><br>
                        {{#each imagecontent}}
                            <div class="mySlides fade">
                                <img src="data:{{this}}" style="width: 1040px;height: 480px;" alt="Bus Image" />
                            </div>
                        {{/each}}

                        <br><div id="dot">
                            {{#each imagecontent}}
                                <div style="text-align:center">
                                    <span class="dot"></span> 
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            
            {{#if detailplan}}
                <div id="fetch-content-maindiv">
                    <div id="plandetail">
                        {{#if totalDetail}}
                        <form action="/search" method="post">
                                <input type="hidden" id="from" placeholder="From" name="source" value="{{totalDetail.[1]}}" required>
                                <input type="hidden" id="to" placeholder="To" name="destination" value="{{totalDetail.[2]}}" required>
                                <input type="hidden" id="calander" name="date" value="{{date}}" required>
                                <button type="submit" id="button-busdetial-plan" >
                                    <p style="font-weight: 500; font-size:20px;"><img src="/images/bus.png" alt="seats" style="height: 20px;width: 25px;">  {{totalDetail.[0]}}</p>
                                    <p style="font-weight: 500; font-size:20px; color:#7b014c;">{{totalDetail.[1]}}</p>
                                    <i style="color:#2d3467" class="fa fa-long-arrow-right fa-2x" aria-hidden="true" ></i>
                                    <p style="font-weight: 500; font-size:20px; color:#7b014c;">{{totalDetail.[2]}}</p>
                                    <p style="font-weight: 500; font-size:20px;">{{totalDetail.[3]}}seater</p>
                                </button>
                            </form>
                        {{/if}}
                    </div><br>
                    <iframe id="planfile" src="{{planpdf}}" frameborder="0"  title="{{totalDetail.[1]}}-{{totalDetail.[2]}}"></iframe>
                </div>
            {{/if}}
        </div>
    </div>
</body>

<script>

    const rotateButton = document.getElementById('swapbutton');
     const rotateMe = document.getElementById('swapicon');
    let slideIndex = 0;
    let isRotated = false;
    let val=0;
    showSlides();

    function swapInputs() {
        var input1 = document.getElementById('from');
        var input2 = document.getElementById('to');
        
        var temp = input1.value;
        input1.value = input2.value;
        input2.value = temp;
        val+=180;
        if (!isRotated) {
            rotateMe.style.transform = `rotate(${val}deg)`;
            isRotated = true;
        } else {
            rotateMe.style.transform = `rotate(${val}deg)`;
            isRotated = false;
        }
    }

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000);
    }
   
</script>

</html>


