<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
    
    {{!-- phonenumber  --}}
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    
    {{!-- crop js --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <form action="/home" class="bookingdiv-1">
                    <button id="bookingbutton" href="/home" ><i class="fa-solid fa-house"></i> Home</button>
                </form>

                <form action="/booking"  class="bookingdiv">
                    <button id="bookingbutton" href="/booking"><i class="fa-brands fa-opencart"></i> Booking</button>
                </form>

                <form action="/likes-bus" class="bookingdiv">
                    <button id="bookingbutton" href="/likes-bus"><i class="fa-solid fa-heart"></i> Liked</button>
                </form>

                <div class="profilediv">
                    <button id="profilebutton" href="/profile"><i class="fa-solid fa-user"></i> Profile</button>
                </div>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><i class="fas fa-sign-out-alt fa-lg"></i> Sign Out</button>
                </form>                                                                                                 
        </div>

        <div id="profilecontent">
            <div id="contentdivision1">
                <div id="profile">
                    <img id="profilepic" src="data:{{data.profileimage.ContentType}};base64,{{value}}" alt="Profile Image" />
                    <button id="image-edit-btn" onclick="openImageForm()"><i class="fa-solid fa-pen-to-square"></i></button>
                    <h4 id="username">{{fname}} {{lname}}</h4>
                </div><br>
                <div id="profile-content-button">
                    <form action="/profile">
                        <button id="personalinfo-button{{#if personalinfo}}active{{/if}}"><i class="fa-solid fa-user"></i> PERSONAL INFO</button>
                        <div id="active-status{{#if personalinfo}}active{{/if}}" ></div>
                    </form>

                    <form action="/accountdetails">
                        <button id="accountdetails-button{{#if accountdetails}}active{{/if}}"><i class="fa-solid fa-id-card-clip"></i> ACCOUNT INFO</button>
                        <div id="active-status{{#if accountdetails}}active1{{/if}}" ></div>
                    </form>

                </div>
            </div>

            <div id="contentdivision2">
                {{#if personalinfo}}
                    <div id="personalinfo">
                        <h1 id="title">Personal Information<h1>
                        <p>Manage your personal Information, including your name, mobile number and address where you can contacted</p>
                    </div>

                    <div id="usercontent">
                        <div id="fname">
                            <h2>First Name</h2>
                            <div class="name-replace">
                                <h4 id="firstname">{{fname}}</h4>
                                <button class="update-button" onclick="openForm()"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>

                        <div id="lname">
                            <h2>Last Name</h2>
                            <div class="name-replace">
                                <h4 id="lastname">{{lname}}</h4>
                                <button class="update-button" onclick="openForm()"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>

                        <div id="gender">
                            <h2>Gender</h2>
                            <div class="name-replace">
                                <h4 id="gender-detail">{{gender}}</h4>
                                <button class="update-button" onclick="openForm()"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>

                        <div id="phonenumber">
                            <h2>Phone Number</h2>
                            <div class="name-replace">
                                <h4 id="number">{{phonenumber}}</h4>
                                <button class="update-button" onclick="openForm()"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>

                        <div id="address">
                            <h2>Address</h2>
                            <div class="name-replace">
                                <p id="number">{{address}}</p>
                                <button class="update-button" onclick="openForm()"><i class="fas fa-edit"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="edit-button-div">
                        <button class="edit-personalinfo" onclick="openForm()"><i class="fa-regular fa-pen-to-square"></i> Edit Info</button>
                    </div>
                {{/if}}

                {{#if accountdetails}}
                    <div id="personalinfo">
                        <h1 id="title">Account Details<h1>
                        <p>Manage your Account Information, including your name and email address where you can contacted</p>
                    </div>
                    <div id="usercontent">
                        <div id="email">
                            <h3 id="gender-detail">Email</h3>
                            <div class="name-replace">
                                <h5 id="email-detail">{{email}}</h5>
                            </div>
                        </div>

                        <div id="password">
                            <h3 id="gender-detail">Password</h3>
                            <div class="name-replace">
                                <input id="password-detail-input" type="password" value="zxcvbzx" disabled>
                            </div>
                            {{#if flag}}
                                <a id="cpassword" href="/change-password">Change password?</a>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="formPopup popupForm-outclick" id="popupForm">
            <form action="/updateinfo" class="formContainer" method="post" >
                <p id="update-title">UPDATE INFO</p>
                <input type="hidden" name="email" value="{{email}}">
                
                <div style="display: flex;flex-direction:column;">
                        <label for="fname-update">First Name</label>
                    <input class="outline" type="text" value="{{fname}}" name="fname" id="fname-update" maxlength="20" autocomplete="off"><br>
                </div>
                <div style="display: flex;flex-direction:column;">
                    <label for="lname-update">Last Name</label>
                    <input class="outline" type="text" value="{{lname}}" name="lname" id="lname-update" maxlength="20" autocomplete="off"><br>
                </div>

                <div  style="display: flex;flex-direction:row;gap:20px">
                    <div style="display: flex;flex-direction:column;">
                        <label for="gender-update">Gender</label>
                        <select class="outline-1" name="gender" id="gender-update">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <div  style="display: flex;flex-direction:column;">
                        <label id="number-label" for="number-update">Phone Number</label>
                        <input type="hidden" id="number-countrycode-update" name="countrycode">
                        <input class="outline-2" type="tel" value="{{countrycode}}{{phonenumber}}" name="phonenumber" id="number-update"  onchange="process(event)">
                    </div>
                </div><br>

                <label for="address-update">Address</label>
                <textarea name="address" id="address-update" cols="30" rows="10" style="width: 372px; height: 149px;" >{{address}}</textarea>
                <div id="button-update">
                    <a href="/profile" class="aunchor-close"><button type="button" class="btn-1 cancel">Close</button></a>
                    <button type="submit" class="btn-1" href="/updateinfo" >Update</button>
                </div>
            </form>
        </div>

        <div class="formPopup popupForm-outclick" id="popupForm-image">
            <form id="photoinput" action="/photouploads" class="formContainer-image" method="post" enctype="multipart/form-data">
                <p id="update-title">CHANGE IMAGE</p>
                <div id="profile-visiblelity">
                    <img id="profilepic-1" src="data:{{data.profileimage.ContentType}};base64,{{value}}" alt="Profile Image" />
                </div>
                <main class="page">
                    <div class="box-2" style="width: 270px; height: 270px;margin-top:60;">
                        <div class="result" style="width: 270px; height: 270px;"></div>
                    </div>

                    <div class="box">
                        <div class="options hide">
                            <input type="hidden" class="img-w" value="300" min="100" max="1200" />
                        </div>
                         <button class="btn save hide" id="savebutton" type="submit" href="/photouploads">Save</button>
                    </div>
                </main>
                <div id="photodiv-1">
                    <a href="/profile"><button type="button" id="savebutton-1" class="align-backbutton">Close</button></a>
                </div>
                <div id="photodiv">
                    <label for="inputimage">
                        SELECT IMAGE 
                        <i class="fa fa-camera"></i>
                        <input id="inputimage" type="file" name="profileimage" accept="image/png, image/jpeg" required>
                        <span id="imagename"></span>
                    </label>
                </div>
                
            </form>
        </div>

    </div>
</body>
<script>
    function openForm() {
        var profilecont = document.getElementById("profilecontent");

        document.getElementById("popupForm").style.display = "block";
        profilecont.style.opacity="0.5"
        profilecont.style.animationDelay="1s"

        document.getElementById('exitbutton').addEventListener('click', function(event) {
            event.preventDefault();
        });
        {{!-- document.getElementById('photoinput').addEventListener('click', function(event) {
            event.preventDefault();
        });
        document.getElementsByClassName('update-button').addEventListener('click', function(event) {
            event.preventDefault();
        }); --}}
        
    }

    function openImageForm() {
        var profilecont = document.getElementById("profilecontent");

        document.getElementById("popupForm-image").style.display = "block";
        profilecont.style.opacity="0.5"
        profilecont.style.animationDelay="1s"
    }
    
    const phoneInputField = document.getElementById('number-update');
   const phoneInput = window.intlTelInput(phoneInputField, {
        preferredCountries: ["in"],
        utilsScript:
       "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
   });

    function process(event) {
        {{!-- event.preventDefault(); --}}

        const phoneNumber = phoneInput.getNumber();
        const countryData = phoneInput.getSelectedCountryData();

        const countryCode = countryData.dialCode;
        const phoneNumberWithoutCountryCode = phoneNumber.slice(countryCode.length+1);

        console.log('Country Code:', countryCode);
        console.log('Phone Number:', phoneNumberWithoutCountryCode);

        const number = document.getElementById("number-update");
        const code = document.getElementById("number-countrycode-update");
        number.value = phoneNumberWithoutCountryCode;
        code.value = countryCode;
    }


    //Profile crop using crop js

    let result = document.querySelector('.result'),
    img_w = document.querySelector('.img-w'),
    options = document.querySelector('.options'),
    save = document.querySelector('.save'),
    upload = document.querySelector('#inputimage'),
    cropper = '';

    upload.addEventListener('change', e => {
    if (e.target.files.length) {
        const profilevisible = document.getElementById("profile-visiblelity");
        profilevisible.style.display="none";

        const photodiv = document.getElementById("photodiv");
        photodiv.style.marginTop = "450px";
        photodiv.style.position = "absolute";

        const closebutton = document.getElementById("savebutton-1")
        closebutton.style.marginTop = "-50px";

        const formContainerimagecrop = document.getElementById("photoinput")
        formContainerimagecrop.classList.add('formContainer-image-crop');

        const reader = new FileReader();
        reader.onload = e => {
        if (e.target.result) {
            let img = document.createElement('img');
            
            img.id = 'image';
            img.src = e.target.result;
            result.innerHTML = '';
            result.appendChild(img);
            save.classList.remove('hide');
            options.classList.remove('hide');
            cropper = new Cropper(img, {
                aspectRatio: 1/1,  
                autoCropArea: 0.8,  
                
            });
        }
        };
        reader.readAsDataURL(e.target.files[0]);
    }
    });

    

    save.addEventListener('mouseover', e => {
        {{!-- e.preventDefault(); --}}
        let croppedCanvas = cropper.getCroppedCanvas({
             width: img_w.value 
        });
    
        croppedCanvas.toBlob(blob => {
            let croppedFile = new File([blob], 'cropped_image.png', {
                type: 'image/png'
            });
        
            let fileInputCropped = document.getElementById('inputimage');
        
            let dataTransfer = new DataTransfer();
            dataTransfer.items.add(croppedFile);
        
            fileInputCropped.files = dataTransfer.files;
            console.log("hello:"+croppedFile)
        }, 'image/png');
    });

</script>

</html>
