<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <form action="/home" class="bookingdiv">
                    <button id="bookingbutton" href="/home" ><i class="fa-solid fa-house"></i> Home</button>
                </form>

                <form action="/booking"  class="bookingdiv">
                    <button id="bookingbutton" href="/booking"><i class="fa-brands fa-opencart"></i> Booking</button>
                </form>

                <div class="profilediv">
                    <button id="profilebutton" href="/profile"><i class="fa-solid fa-user"></i> Profile</button>
                </div>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><i class="fas fa-sign-out-alt fa-lg"></i> Log Out</button>
                </form>                                                                                                 
        </div>

        <div id="profilecontent">
            <div id="contentdivision1">
                <div id="profile">
                    <img id="profilepic" src="data:{{data.profileimage.ContentType}};base64,{{value}}" alt="Profile Image" />
                    <h4 id="username">{{fname}} {{lname}}</h4>
                </div><br>
                
                <form id="photoinput" action="/photouploads" method="post" enctype="multipart/form-data">
                    <div id="photodiv">
                        <label for="inputimage">
                            CHANGE IMAGE<br>
                            <i class="fa fa-camera"></i>
                            <input id="inputimage" type="file" name="profileimage" required>
                            <span id="imagename"></span>
                        </label>
                    </div>
                    <button id="savebutton" type="submit">Save</button>
                </form>
                
            </div>

            <div id="contentdivision2">
                <div id="personalinfo">
                    <h1 id="title">Personal Information<h1>
                    <p>Manage your personal Information, including your name and email address where you can contacted</p>
                </div>

                <div id="usercontent">
                    <div id="fname">
                        <h2>First Name</h2>
                        <div class="name-replace">
                            <h4 id="firstname">{{fname}}</h4>
                            <button class="update-button" onclick="openForm()"><i class="fas fa-edit"></i></button>
                        </div>
                    </div>

                    <div id="lname">
                        <h2>Last Name</h2>
                        <div class="name-replace">
                            <h4 id="lastname">{{lname}}</h4>
                            <button class="update-button" onclick="openForm()"><i class="fas fa-edit"></i></button>
                        </div>
                    </div>

                    <div id="mail">
                        <h2>Email-Id</h2>
                        <h4 id="email">{{email}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="formPopup popupForm-outclick" id="popupForm">
            <form action="/updateinfo" class="formContainer" method="post">
                <p id="update-title">UPDATE INFO</p>
                <input type="hidden" name="email" value="{{email}}">
                <label for="fname-update">First Name</label>
                <input class="outline" type="text" value="{{fname}}" name="fname" id="fname-update" maxlength="20" autocomplete="off"><br>
                
                <label for="lname-update">Last Name</label>
                <input class="outline" type="text" value="{{lname}}" name="lname" id="lname-update" maxlength="20" autocomplete="off"><br>
                
                <label for="password">Password</label>
                <input class="outline" type="password" placeholder="Enter Password to Verify" name="password" id="pwd" required ><br>
                
                <div id="button-update">
                    <a href="/profile" class="aunchor-close"><button type="button" class="btn cancel">Close</button></a>
                    <button type="submit" class="btn" href="/updateinfo" >Update</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    function openForm() {
        var profilecont = document.getElementById("profilecontent");

        document.getElementById("popupForm").style.display = "block";
        profilecont.style.opacity="0.5"
        profilecont.style.animationDelay="1s"

        document.getElementById('bookingbutton').addEventListener('click', function(event) {
            {{!-- const element = document.getElementsByClassName("formContainer");
            element.classList.add("flash-animation-formContainer"); --}}
            event.preventDefault();
        });
        document.getElementById('exitbutton').addEventListener('click', function(event) {
            event.preventDefault();
        });
        document.getElementById('photoinput').addEventListener('click', function(event) {
            event.preventDefault();
        });
        document.getElementsByClassName('update-button').addEventListener('click', function(event) {
            event.preventDefault();
        });
        
    }
 
    var plan = document.getElementById("photodiv");
    plan.addEventListener("input", function() {
        if (plan.value !== "") {
            document.getElementById("photodiv").style.color = "red";
        } else {
            document.getElementById("photodiv").style.color = "#2d3467";
        }
    })
</script>