<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <form action="/home" class="bookingdiv">
                    <button id="bookingbutton" href="/home" ><img id="bookingimg" src="/images/booking.png" alt="homeicon">Booking</button>
                </form>

                <form action="/dealer" class="accountdiv" >
                    <button id="accountbutton" href="/dealer"> <img id="accountimg" src="/images/dealer.png" alt="dealericon">Dealer</button>
                </form>

                <div class="profilediv">
                    <button id="profilebutton" href="/profile"><img id="profileimg" src="/images/profilecolour.png" alt="profileicon">Profile</button>
                </div>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><img id="exitimg" src="/images/exit.png" alt="exiticon"></button>
                </form>                                                                                                 
        </div>

        <div id="profilecontent">
            <div id="contentdivision1">
                <div id="profile">
                    <img id="profilepic" src="data:{{data.profileimage.ContentType}};base64,{{value}}" alt="Profile Image" />
                    <h4 id="username">{{lname}} {{fname}}</h4>
                </div><br>
                
                <form id="photoinput" action="/photouploads" method="post" enctype="multipart/form-data">
                    <div id="photodiv">
                        <label for="inputTag">
                            CHANGE IMAGE<br>
                            <i class="fa fa-camera"></i>
                            <input id="inputimage" type="file" name="profileimage" required>
                            <span id="imagename"></span>
                        </label>
                    </div>
                    <button id="savebutton" type="submit">Save</button>
                </form>
                
            </div>

            <div id="contentdivision2">
                <div id="personalinfo">
                    <h1 id="title">Personal Information<h1>
                    <p>Manage your personal Information, including your name and email address where you can contacted</p>
                </div>

                <div id="usercontent">
                    <div id="fname">
                        <h2>First Name</h2>
                        <h4 id="firstname">{{fname}}</h4>
                    </div>

                    <div id="lname">
                        <h2>Last Name</h2>
                        <h4 id="lastname">{{lname}}</h4>
                    </div>

                    <div id="mail">
                        <h2>Email-Id</h2>
                        <h4 id="email">{{email}}</h4>
                    </div>
                </div>
            </div>
        </div>

            

    </div>
</body>
</html>